header {
    padding-top: 25px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 5px 8px rgb(0, 0, 0);
}

.logo {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -0.5px;
    padding-top: -10px;
    color: #E86EA0;
    /* color: linear-gradient(#E86EA0,#BA28FF); */
}

nav {
    padding-top: 25px;
    width: 50%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav>a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #E86EA0;
    text-decoration: none;
}

.miniNav {
    width: 20%;
}

nav>img {
    cursor: pointer;
}

.loginAndElse {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loginAndElse>img {
    width: 20px;
    height: 20px;
}

.switchTheme {
    width: 60px;
    height: 32px;
    background: linear-gradient(#E86EA0, #BA28FF);
    border-radius: 65px;
    display: flex;
    margin-top: -1.2%;
    flex-direction: row;
    justify-content: space-between;
}

.nightModeImg {
    position: relative;
    top: -7px;
    left: 3px;
    width: 25px;
}

.switchTheme>img:nth-child(2) {
    padding-top: 5px;
}

#login {
    margin-top: -1.2%;
    padding-left: 54px;
    padding-top: 7px;
    width: 147px;
    height: 32px;
    border-radius: 66px;
    text-decoration: none;
    color: #210B54;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: linear-gradient(#E86EA0, #BA28FF);
}