* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}


.cryptoo,
.sigmas {
  color: transparent;
  -webkit-text-stroke: 2px #772abe;
  font-family: "Roboto Slab", serif;
}

.cryptoo {

  position: absolute;
  z-index: 1;
  left: 50px;
  font-size: 400px;
}


.sigmas {

  position: absolute;
  z-index: 2;
  top: 470px;
  left: 1100px;
  font-size: 350px;
}

.parentRegister,
.signUp {
  position: absolute;
  z-index: 3;
}

.signUp {
  top: 65%;
}

label {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
  padding-bottom: 10px;
}

input,
.signUp {
  filter: drop-shadow(1px 1px 1px #363636);
}

input {
  margin-top: 15px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 67px;
  height: 50px;
}

.forBack {
  height: 100vh;
  background-color: #210B54;
}

.forBackImgRegister {
  margin-top: -38px;
  height: 100vh;
  background-image: url('/public/scrollbackground.png');
}

.parentRegister {
  margin-top: 12%;
  margin-left: 10%;
  width: 35%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 70%;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
}

.div1 {
  margin-top: 10%;
  grid-area: 1 / 1 / 4 / 13;
}

.div2 {
  margin-top: 3%;
  grid-area: 4 / 1 / 7 / 7;
}

.div3 {
  margin-top: 3%;

  grid-area: 4 / 7 / 7 / 13;
}

.div4 {
  margin-top: -10%;

  grid-area: 7 / 1 / 10 / 13;
}

.div5 {
  margin-top: -40%;

  grid-area: 10 / 1 / 13 / 7;
}

.div6 {
  margin-top: -40%;
  grid-area: 10 / 7 / 13 / 13;
}

.div3,
.div6 {
  position: relative;
  left: -30.75%;
}


input::placeholder {
  color: #4E5573;
  opacity: 0.5;
  padding-left: 12px;
}

.signUp {
  border: none;
  outline: none;
  margin-left: 0%;
  width: 70%;
  height: 8.5%;
  border-radius: 67px;
  font-family: "Inter", sans-serif;
  background: linear-gradient(#E86EA0, #BA28FF);
  color: white;
  font-size: 20px;
  top: 500px;
}

#forRegisterToBack {
  z-index: 4;
  top: 820px;
}

#forRegisterToBackText {
  z-index: 4;
  top: 800px;
}



.linkToRegister2 {
  background: -webkit-linear-gradient(90deg, rgba(190, 46, 247, 1) 0%, rgba(229, 105, 167, 1) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-decoration: none;
  top: 220px;
  z-index: 6;
  font-family: "Roboto Slab", serif;
  font-size: 34px;
  font-weight: 400;
  left: 270px;
}

.linkToLogin1 {
  color: rgb(153, 153, 153);
  position: relative;
  text-decoration: none;
  top: 220px;
  z-index: 6;
  font-family: "Roboto Slab", serif;
  font-size: 34px;
  font-weight: 400;
  left: 190px;
}

@media screen and (max-width: 440px) {
  .burgerMenu {
    visibility: visible;
  }

  body {
    height: 100vh;
  }


  .cryptoo {
    font-size: 60px;
    left: 10px;
    top: 10px;
  }

  .sigmas {
    font-size: 50px;
    left: 10px;
    top: 90px;
  }

  .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 180px;
    gap: 10px;
  }

  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6 {
    position: static;
    width: 100%;
    height: auto;
    margin: 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 45px;
    font-size: 16px;
  }

  .signUp {
    position: static;
    margin-top: 10px;
    width: 100%;
    height: 45px;
    font-size: 18px;
  }

  .linkToLogin1,
  .linkToRegister2 {
    position: static;
    font-size: 16px;
    text-align: center;
    margin: 10px 5px;
  }

  .linkContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 10px;
  }
}

@media screen and (max-width: 440px) {
  .forBackImg .cryptoo {
    font-size: 180px;
    left: 30px;
    top: 15px;
    -webkit-text-stroke: 1px #772abe;
  }

  .forBack .forBackImg .sigmas {
    font-size: 180px;
    left: 15px;
    top: 485px;
    -webkit-text-stroke: 1px #772abe;
  }


  .forBack .forBackImg .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;
    gap: 12px;
    height: auto;
    position: static;
    grid-template-columns: unset;
  }


  .forBack .forBackImg .div1,
  .forBack .forBackImg .div2,
  .forBack .forBackImg .div3,
  .forBack .forBackImg .div4,
  .forBack .forBackImg .div5,
  .forBack .forBackImg .div6 {
    position: static;
    width: 60%;
    height: auto;
    margin: 0;
    grid-area: unset;
    left: 0;
    padding-top: -30px;
  }


  .forBack .forBackImg input[type="text"],
  .forBack .forBackImg input[type="email"],
  .forBack .forBackImg input[type="password"] {
    width: 100%;
    height: 45px;
    font-size: 12px;
  }


  .forBack .forBackImg .signUp {
    position: static;
    width: 60%;
    height: 45px;
    margin-top: 10px;
    font-size: 15px;
    top: auto;
    left: auto;
  }


  .forBack .topnavigation .linkToLogin1,
  .forBack .topnavigation .linkToRegister2 {
    position: static;
    font-size: 34px;
    text-align: center;
    margin: 10px 5px;
    background: none;
    -webkit-text-fill-color: initial;
    top: auto;
    left: auto;
    padding-bottom: -550px;
  }

  .forBack .topnavigation {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0%;
    position: static;
  }
}