* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}


.cryptoo,
.sigmas {
  color: transparent;
  -webkit-text-stroke: 2px #772abe;
  font-family: "Roboto Slab", serif;
}

.cryptoo {

  position: absolute;
  z-index: 1;
  left: 50px;
  font-size: 400px;
}


.sigmas {

  position: absolute;
  z-index: 2;
  top: 470px;
  left: 1100px;
  font-size: 350px;
}

.parentRegister,
.signUp {
  position: absolute;
  z-index: 3;
}

.signUp {
  top: 65%;
}

label {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
  padding-bottom: 10px;
}

input,
.signUp {
  filter: drop-shadow(1px 1px 1px #363636);
}

input {
  margin-top: 15px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 67px;
  height: 50px;
}

.forBackRegister {
  height: 100vh;
  background-color: #210B54;
}

.forBackImgRegister {
  margin-top: -38px;
  height: 100vh;
  background-image: url('/public/scrollbackground.png');
}

.parentRegister {
  margin-top: 12%;
  margin-left: 10%;
  width: 35%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 70%;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6 {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
}

.div1 {
  margin-top: 10%;
  grid-area: 1 / 1 / 4 / 13;
}

.div2 {
  margin-top: 3%;
  grid-area: 4 / 1 / 7 / 7;
}

.div3 {
  margin-top: 3%;

  grid-area: 4 / 7 / 7 / 13;
}

.div4 {
  margin-top: -10%;

  grid-area: 7 / 1 / 10 / 13;
}

.div5 {
  margin-top: -40%;

  grid-area: 10 / 1 / 13 / 7;
}

.div6 {
  margin-top: -40%;
  grid-area: 10 / 7 / 13 / 13;
}

.div3,
.div6 {
  position: relative;
  left: -30.75%;
}


input::placeholder {
  color: #4E5573;
  opacity: 0.5;
  padding-left: 12px;
}

.signUp {
  border: none;
  outline: none;
  margin-left: 0%;
  width: 70%;
  height: 8.5%;
  border-radius: 67px;
  font-family: "Inter", sans-serif;
  background: linear-gradient(#E86EA0, #BA28FF);
  color: white;
  font-size: 20px;
  top: 500px;
}

#forRegisterToBack {
  z-index: 4;
  top: 820px;
}

#forRegisterToBackText {
  z-index: 4;
  top: 800px;
}



.linkToRegister2 {
  background: -webkit-linear-gradient(90deg, rgba(190, 46, 247, 1) 0%, rgba(229, 105, 167, 1) 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-decoration: none;
  top: 220px;
  z-index: 6;
  font-family: "Roboto Slab", serif;
  font-size: 34px;
  font-weight: 400;
  left: 270px;
}

.linkToLogin1 {
  color: rgb(153, 153, 153);
  position: relative;
  text-decoration: none;
  top: 220px;
  z-index: 6;
  font-family: "Roboto Slab", serif;
  font-size: 34px;
  font-weight: 400;
  left: 190px;
}


@media screen and (max-width:440px) {

  .parentRegister {
    display: flex;
    flex-direction: column;
    width: 88vw;
    margin-top: 20%;
  }

  .cryptoo {
    width: 88vw;
  }

  #forAdaptiveInputs {
    left: 0px;
    margin-left: 10px;
    width: 80vw;
    height: 40px;
  }

  .div1>label,
  .div2>label,
  .div3>label,
  .div4>label,
  .div5>label,
  .div6>label {
    font-size: 16px;
  }

  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6 {
    height: 70px;
    left: 0;
    margin-top: 0;
  }

  .signUp {
    width: 90%;
    margin-left: 10px;
    height: 10%;
  }

  .linkToLogin1,
  .linkToRegister2 {
    top: 40px;
    left: 0px;
  }

  .linkToLogin1 {
    left: 30%;
  }

  .linkToRegister2 {
    left: 35%;
  }

  #forRegisterToBack {
    left: 30px;
    top: 650px;
  }

  #forRegisterToBackText {
    top: 630px;
    left: 30px;
  }
}